*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --timer-background-color: lightblue;
}

html {
  font-family: monospace;
  direction: ltr;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--timer-background-color);
  width: 28rem;
}

/* ....................................................................................................... first.......... */

.first {
  background-color: white;
  margin: 0.75rem;
  display: grid;
  grid-template-columns: 69.5% 0.5% 30%;
}

/* ............................................... miro_timer ..................... */

.miro_timer {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change_time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.minutes,
.seconds {
  all: unset;
  font-size: 3rem;
  width: 3.5rem;
}

.minutes:hover,
.seconds:hover {
  background-color: var(--timer-background-color);
}

.minutes:focus,
.seconds:focus {
  background-color: var(--timer-background-color);
}

.colon {
  font-size: 1.5rem;
}

.minus,
.plus {
  all: unset;
  width: 0.2rem;
  height: 0.2rem;
  border: 0.15em solid transparent;
  padding-left: 0.3rem;
  padding-right: 0.7rem;
  padding-top: 0;
  padding-bottom: 1rem;
  margin: 0.6rem;
  border-radius: 0.25rem;
  background-color: var(--timer-background-color);
}

.minus:active,
.plus:active {
  border: 0.15em solid black;
}

.pick_music_p {
  margin: 0;
}

.pick_text {
  font-weight: bold;
}

/* ........................................................ seperate_line styles ............. */

.seperate_line {
  background-color: var(--timer-background-color);
  margin-block: 0.5rem;
}

/* ......................................................... play_container styles ........... */

.play_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  width: 35px;
  height: 35px;
  color: white;
  background-color: blue;
  border-radius: 50%;
}
